html{
    font-size: 62.5%;
}
body{
    margin: 0%;
    font-family:'Avenir';
    background-color: rgb(244, 241, 241);
    
    
}



.cont1{
    background-color: rgb(203, 211, 223);
   
    
    
}

header{
    justify-content: center;
    background-color: rgb(203, 211, 223);

}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin-left:30%;
    
  }
  
.navbar-nav .nav-link  {
    color: white;
    position: relative;
    font-size: 15px;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .navbar-nav .nav-link:hover::after,
  .navbar-nav .nav-link:focus::after,
  .navbar-nav .nav-link:active::after{
    opacity: 1;
}

.navbar-nav .nav-link[aria-current='page']::after {
    background-color: rgb(20, 132, 230);
  }

  @media (max-width: 768px) {
    .navbar-nav {
      justify-content: flex-start;
      margin-left: 10%;
     
    }
   

  }
.nav3{
    display: flex;
    justify-content: center;
    margin-left:10%;
    
   
}

.btn-primary{
    font-size: 15px;
}
.icon1{
    margin-right: 50%;
    margin-left: -30%;
    margin-top: 80%;
    
}


.row1{
    margin-top: 10%;
}


.btn-custom {
    color: white;
    border-color: white;
    font-size: 15px;

  }


.cont2{
    background-color: rgb(244, 241, 241);
}

.firstpart{
    display: flex;
}

.col2{
    margin-top: -7%;
    margin-left: 10%;
}

.row2{
    
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    border: none;
    margin-right: -10%;
    margin-top: -7%;
    
  }
  
  .price-tag {
    background-color: white;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 30px;
  }
  
  .price-text {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .additional-text {
    color: rgb(0, 0, 0);
    font-size: 12px;
  }

  .row3{
    margin-top: 5%;
    justify-content: center;
    gap: 80px;
  }
  
  .col-col2{
    border-radius: 20px;
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
   
    
  }
  .bg-image {
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }
  

  .sub1{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 30%;
    
  }

  .sub11{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 30%;
    
  }

  .sub2{
    text-align: center;
    
    color: black;
    font-size: 12px;
  }

  .col-col3{
    border-radius: 20px;
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    
    
    

    
  }

  .row4{
    margin-top: 13%;
  }

  .sub3{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-bottom: 2%;
  }

  .card2{
    margin-top: 0%;
    background-color:rgb(244, 241, 241);
  }

  .box{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
  }

  

  .box:hover {
    background-color: rgb(78, 172, 248);
    transform: scale(0.9);
  }
  
  .box:hover img {
    transform: scale(0.8);
  }
  
  .box:hover .buy-now {
    display: inline-block;
  }
 
  .buy-now {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: white;
    background-color: rgb(36, 135, 215);
    padding: 8px 16px;
    border-radius: 5px;
    transition: opacity 0.3s;
    
  }

  
  .sub4{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-top: -10%;
    
  }

  .sub5{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -7%;
    
    
  }


  .row5{
    margin-top: 10%;
    justify-content: center;
    justify-items: center;
    gap: 80px;
  }

  .col41{
   
    margin-top: -2%;
    border-radius: 20px;
    background-color: white;

  }

  .col42{
    border-radius: 20px;
    background-color: white;
    
    justify-content: center;
    display: block;
    margin-top: -2%;

  }

  .row6{
    margin-top: 10%;
    display: flex;
  }

  .col61{
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  footer{
    background-color: rgb(31, 30, 30);
    margin: auto;
    
  }



  .r8{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col81{
    margin-left: 10%;
    
  }
  .col82{
    margin-left: 10%;
  }

  .row8{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .col8{
    margin-top: 5%;
  }

  .row9{
    margin-left: 10%;
    margin-top: 2%;
  }

  @media (max-width: 768px) {

    .sub1{
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 17px;
        margin-top: 5%;
    }
    
    .sub5{
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .sub4{
        margin-top: 3%
    }
    .row1{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .row2{
        margin-bottom: 20%;
    }
    .row3 {
        gap: 20px;
        margin-bottom: 20%;
    }
    .row5{
        gap: 20px;
    }
    .col41{
       margin-left: 0%;
        margin-top: -2%;
        border-radius: 20px;
        background-color: white;
    
      }
    
      .col42{
        border-radius: 20px;
        background-color: white;
        margin-left: -2%;
        justify-content: center;
        display: block;
        margin-top: -2%;
    
      }
    
      .row7{
        margin-top: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .p1{
        font-size: 20px;
      }

      .s3{
        font-size: 10px;
        
      }

    



   
}

  



  
  



  
